<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PrinterConfiguration" type="Microsoft.Dynamics.Retail.FiscalPrinter.ShtrihPrinter.PrinterConfiguration, Microsoft.Dynamics.Retail.FiscalPrinter.ShtrihPrinter"/>
  </configSections>
  <PrinterConfiguration>
    <!--In this section we are declaring images that will be used for printing documents. In default parameter we are setting up default image that will be load to printer during POS initialization-->
    <ImageList default="logo">
      <Image id ="logo" path="Logo\logo.bmp" startline="2" endline="288" center="true"></Image>
    </ImageList>
    <!--List of layouts for documents-->
    <Layouts>
      <!--Default layout. This layout is used if there is no special layout for printing document-->
      <Layout type ="Default" imageid ="logo">        
        <DocumentSection type ="Header">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
        </DocumentSection>
        <DocumentSection type="Footer">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
        </DocumentSection>
        <!--Setting up parameters for printer. They will be loaded to printer before printing document-->
        <PrinterSettings>
          <Parameter tableId="1" rowId="1" fieldId="8">1</Parameter>
          <Parameter tableId="1" rowId="1" fieldId="17">1</Parameter>
        </PrinterSettings>
      </Layout>
      <!--Layout for Sales document-->
      <Layout type ="Sale" imageid ="logo">
        <!--In this Document Section we are configuring the view of the receipt header-->
        <DocumentSection type="Header">
          <!--Line with free text will be printed-->
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="25" alignment="right"><![CDATA[Directory inquiries: ]]></Field>
            <!--The value will be taken from POS database-->
            <Field type="StorePhoneNo" length="20" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[======================SALE======================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[RECEIPT NO.: ]]></Field>
            <Field type="ReceiptNumber" length="15" alignment="right"></Field>
            <Field type="Text"><![CDATA[ TERMINAL:  ]]></Field>
            <Field type="TerminalId" length="7" alignment="right"></Field>
          </Line>
          <!--Printing line with cashier name-->
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: ]]></Field>
            <!--Cashier name will be taken from sales transaction. If the name is longer than 30 symbols it will be cut off--> 
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[SALES PERSON: ]]></Field>
            <Field type="Salesperson" length="25" alignment="left"></Field>
          </Line>
          <!--Printing current store address-->
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <!--Will be printed address according to settings in POS. In this case there're no restriction for value length.
                In case if value length exceed papers width, text will be printed on new line-->
            <Field type="Address" alignment="left"></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the receipt footer-->
        <DocumentSection type = "Footer">
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Customer"/>
          </Line>
          <!--Information about loyalty card will be printed if loyalty card number was entered-->
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Loyalty card No.: ]]></Field>
            <Field type="LoyaltyCard"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Points used: ]]></Field>
            <Field type="LoyaltyUsed"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Points issued: ]]></Field>
            <Field type="LoyaltyAdded"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Points balance: ]]></Field>
            <Field type="LoyaltyBalance"/>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[          Our store is open]]></Field>>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[      from 11 AM to 10 PM, Mon-Sun]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[==========Thank you for your purchase!==========]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>                    
        </DocumentSection>
        <!--In this Document Section we are configuring the view of section layout-->
        <DocumentSection type="SalesLine">      
          <!--This line can contain any information. No limitation for length-->
          <Line type="SalesText">            
            <!--In case if value length will exceed paper width, text will be printed on new line-->
            <Field type="ItemName"></Field>            
          </Line>
          <!--Length of this line is limited by paper width. All text that exceed this limitation will be cut.
              SalesFiscal line contains information about sales line like quantity, amout etc. This line is printing by printer automatically-->
          <Line type="SalesFiscal">
            <Field type="Text"  alignment="left"><![CDATA[ID: ]]></Field>
            <Field type="ItemNo" alignment="left"></Field>
            <Field type="GiftCardId" alignment="left"></Field>
          </Line>
          <!--If line has a discount with such type than this line will be printed and will contain information about discount-->
          <Line type="LineDiscount">
            <Field type="Text" length="20" alignment="left"><![CDATA[Line discount: ]]></Field>            
            <Field type="LineDiscountPercent" length="5" alignment="left"/>
            <Field type="Text" length="1" alignment="left">%</Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring content that will be printed before totals-->
        <DocumentSection type="TotalsHeader">
          <!--If receipt has discounts with such discount type this line will be printed and will contain information about total periodic discount for whole receipt-->
          <Line type="PeriodicDiscount">
            <Field type="Text" length="27" alignment="left"><![CDATA[Periodic discount: ]]></Field>                                    
            <Field type="PeriodicDiscountPercent" length="5" alignment="left"/>
            <Field type="Text" length="1" alignment="left">%</Field>
          </Line>
          <!--If receipt has discounts with such discount type this line will be printed and will contain information about total receipt discount for whole receipt-->
          <Line type="ReceiptDiscount">
            <Field type="Text" length="20" alignment="left"><![CDATA[Receipt discount: ]]></Field>
            <Field type="ReceiptDiscountPercent" length="5" alignment="left"/>
            <Field type="Text" length="1" alignment="left">%</Field>
          </Line>
          <!--If receipt has discounts with such discount type this line will be printed and will contain information about total receipt discount for whole receipt-->
          <Line type="RoundingDiscount">
            <Field type="Text" length="20" alignment="left"><![CDATA[Rounding discount: ]]></Field>
            <Field type="RoundingDiscountAmount" length="5" alignment="left"/>
          </Line>
          <!--If receipt has discounts with such discount type this line will be printed and will contain information about total loyalty discount for whole receipt-->
          <Line type="LoyaltyDiscount">
            <Field type="Text" length="20" alignment="left"><![CDATA[Loyalty discount: ]]></Field>
            <Field type="LoyaltyPercent"/>
            <Field type="Text" length="1" alignment="left">%</Field>
          </Line>
          <Line type="GiftCardDiscount">
            <Field type="Text" length="20" alignment="left">Paid by gift card: </Field>
            <Field type="GiftCardId" alignment="left"></Field>
          </Line>
        </DocumentSection>
        <!--Setting up paramteres for printer. They will be loaded to printer before printing document-->
        <PrinterSettings>          
          <Parameter tableId="1" rowId="1" fieldId="6">1</Parameter>
          <Parameter tableId="1" rowId="1" fieldId="8">0</Parameter>
          <Parameter tableId="1" rowId="1" fieldId="17">1</Parameter>
        </PrinterSettings>
      </Layout>
      <!--Layout for Sale Return document-->
      <Layout type ="Return" imageid ="logo">
        <DocumentSection type="Header">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="25" alignment="right"><![CDATA[Directory inquiries: ]]></Field>
            <Field type="StorePhoneNo" length="20" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[======================RETURN===================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[RECEIPT NO.: ]]></Field>
            <Field type="ReceiptNumber" length="15" alignment="right"></Field>
            <Field type="Text"><![CDATA[ TERMINAL:  ]]></Field>
            <Field type="TerminalId" length="7" alignment="right"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: ]]></Field>
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[SALES PERSON: ]]></Field>
            <Field type="Salesperson" length="25" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <Field type="Address" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Customer"/>
          </Line>
          <!--Information about loyalty card will be printed if loyalty card number was entered-->
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Loyalty card No.: ]]></Field>
            <Field type="LoyaltyCard"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Points returned: ]]></Field>
            <Field type="LoyaltyUsed"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Points released: ]]></Field>
            <Field type="LoyaltyAdded"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[Points balance: ]]></Field>
            <Field type="LoyaltyBalance"/>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyCard">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the receipt footer-->
        <DocumentSection type = "Footer">
          <Line type="Text">
            <Field type="Text"><![CDATA[          Our store is open]]></Field>>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[      from 11 AM to 10 PM, Mon-Sun]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[===================Thank you!===================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of how receipt lines will be looked-->
        <DocumentSection type="SalesLine">
          <!--This line can contain any information. No limitation for length-->
          <Line type="SalesText">
            <!--In case if value length will exceed paper width, text will be printed on new line-->
            <Field type="ItemName"></Field>
          </Line>
          <!--Length of this line is limited by paper width. All text that exceed this limitation will be cut.
              SalesFiscal line contains information about sales line like quantity, amout etc. This line is printing by printer automatically-->
          <Line type="SalesFiscal">
            <Field type="Text"  alignment="left"><![CDATA[Код :]]></Field>
            <Field type="ItemNo" alignment="left"></Field>
            <Field type="GiftCardId" alignment="left"></Field>
          </Line>         
          <!--If receipt has discounts with such discount type this line will be printed and will contain information about total loyalty discount for whole receipt-->
          <Line type="LoyaltyDiscount">
            <Field type="Text" length="20" alignment="left"><![CDATA[Loyalty discount: ]]></Field>
            <Field type="LoyaltyPercent"/>
            <Field type="Text" length="1" alignment="left">%</Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring content that will be printed before totals-->
        <DocumentSection type="TotalsHeader">
          <Line type="GiftCardDiscount">
            <Field type="Text" length="20" alignment="left">Refund to gift card: </Field>
            <Field type="GiftCardId" alignment="left"></Field>
          </Line>
          <!--If receipt has discounts this line will be printed and will contain information about total discount for whole receipt-->
          <Line type="SummaryDiscount" addRoundingToDiscount="true">
            <Field type="Text" length="20" alignment="left">Итоговая скидка: </Field>
            <Field type="SummaryDiscountPercent" length="10" alignment="left"/>
            <Field type="Text" length="1" alignment="left">%</Field>
          </Line>
          <Line type="Text" hideIfEmptyField="LoyaltyAmount">
            <Field type="Text"><![CDATA[Total loyalty discount: (]]></Field>
            <Field type="LoyaltyPercent"/>
            <Field type="Text"><![CDATA[%) ]]></Field>
            <Field type="LoyaltyAmount"/>
          </Line>
        </DocumentSection>
        
        <!--Setting up paramteres for printer. They will be loaded to printer before printing document-->
        <PrinterSettings>          
          <Parameter tableId="1" rowId="1" fieldId="6">1</Parameter>
          <Parameter tableId="1" rowId="1" fieldId="8">1</Parameter>
          <Parameter tableId="1" rowId="1" fieldId="17">1</Parameter>
        </PrinterSettings>
      </Layout>
      <!--Layout for X report document-->
      <Layout type="ReportX" imageid="logo">
        <!--In this Document Section we are configuring the view of the receipt header-->
        <DocumentSection type="Header">
          <!--Line with free text will be printed-->
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text"><![CDATA[======================Х-report===================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: ]]></Field>
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <Field type="Address" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the document footer-->
        <DocumentSection type = "Footer">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>
        </DocumentSection>
      </Layout>
      <!--Layout for Z report document-->
      <Layout type="ReportZ" imageid="logo">
        <!--In this Document Section we are configuring the view of the receipt header-->
        <DocumentSection type="Header">
          <!--Line with free text will be printed-->
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text"><![CDATA[======================Z-report===================]]></Field>
          </Line>
          <!--Printing line with cashier name-->
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: : ]]></Field>
            <!--Cashier name will be taken from sales transaction. If the name will be longer than 30 symbols it will be cut off-->
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <Field type="Address" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the document footer-->
        <DocumentSection type = "Footer">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>
        </DocumentSection>
      </Layout>
      <!--Layout for Start amount declaration document-->
      <Layout type="StartAmount" imageid="logo">
        <!--In this Document Section we are configuring the view of the receipt header-->
        <DocumentSection type="Header">
          <!--Line with free text will be printed-->
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>          
          <Line type="Text">
            <Field type="Text"><![CDATA[=============START AMOUNT DECLARATION===========]]></Field>
          </Line>
          <!--Printing line with cashier name-->
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: : ]]></Field>
            <!--Cashier name will be taken from sales transaction. If the name will be longer than 30 symbols it will be cut off-->
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <Field type="Address" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the document footer-->
        <DocumentSection type = "Footer">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>
        </DocumentSection>
      </Layout>
      <!--Layout for Float entry document-->
      <Layout type="FloatEntry" imageid="logo">
        <!--In this Document Section we are configuring the view of the receipt header-->
        <DocumentSection type="Header">
          <!--Line with free text will be printed-->
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[===================FLOAT ENTRY==================]]></Field>
          </Line>
          <!--Printing line with cashier name-->
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: : ]]></Field>
            <!--Cashier name will be taken from sales transaction. If the name will be longer than 30 symbols it will be cut off-->
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <Field type="Address" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the document footer-->
        <DocumentSection type = "Footer">          
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>
        </DocumentSection>
      </Layout>
      <!--Layout for Tender removal document-->
      <Layout type="TenderRemoval" imageid="logo">
        <!--In this Document Section we are configuring the view of the receipt header-->
        <DocumentSection type="Header">
          <!--Line with free text will be printed-->
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="30" alignment="right"><![CDATA[Contoso Ltd.]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text" length="33" alignment="right"><![CDATA[http://www.contoso.com/]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[===========TENDER REMOVAL============]]></Field>
          </Line>
          <!--Printing line with cashier name-->
          <Line type="Text">
            <Field type="Text"><![CDATA[CASHIER: : ]]></Field>
            <!--Cashier name will be taken from sales transaction. If the name will be longer than 30 symbols it will be cut off-->
            <Field type="Cashier" length="30" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[STORE ADDRESS:]]></Field>
            <Field type="Address" alignment="left"></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[------------------------------------------------]]></Field>
          </Line>
        </DocumentSection>
        <!--In this Document Section we are configuring the view of the document footer-->
        <DocumentSection type = "Footer">
          <Line type="Text">
            <Field type="Text"><![CDATA[================================================]]></Field>
          </Line>
          <Line type="Text">
            <Field type="Text"><![CDATA[Printed from: Microsoft Dynamics AX for Retail]]></Field>
          </Line>
        </DocumentSection>
      </Layout>
    </Layouts>
    <!--Configuring printer tables. Tables are configuring on POS load and before each priniting operation-->
    <PrinterSettings>
      <!--Setting up printers general settings. (Table №1)-->
      <Parameter tableId="1" rowId="1" fieldId="3">0</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="6">1</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="8">1</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="14">0</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="16">2</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="17">1</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="18">1</Parameter>
      <Parameter tableId="1" rowId="1" fieldId="30">1</Parameter>
      <!--Setting up printers payment methods table. (Table №5)-->
      <Parameter tableId="5" rowId="2" fieldId="1"><![CDATA[Cash]]></Parameter>
      <Parameter tableId="5" rowId="3" fieldId="1"><![CDATA[Bank card]]></Parameter>
      <Parameter tableId="5" rowId="4" fieldId="1"><![CDATA[Gift card]]></Parameter>
      <!--Setting up printers tax table. (Table №6)-->
      <Parameter tableId="6" rowId="1" fieldId="1">1000</Parameter>
      <Parameter tableId="6" rowId="1" fieldId="2"><![CDATA[VAT 10%]]></Parameter>
      <Parameter tableId="6" rowId="2" fieldId="1">1800</Parameter>
      <Parameter tableId="6" rowId="2" fieldId="2"><![CDATA[VAT 18%]]></Parameter>
    </PrinterSettings>
    <!--Setting up mapping between VAT codes in POS and printer table that contain VAT rates.-->
    <TaxMapping>
        <Tax taxCode="VAT10" printerTaxId="1"/>
        <!--If product will have this VAT group than in printer will be used tax rate from seconf row from printer tax table (Table №6)-->
        <Tax taxCode="НДС18_1" printerTaxId="2"/>
    </TaxMapping>
    <!--Setting up mapping between Payment methods codes in POS and printers payment methods. (Table №5)-->
    <TenderTypesMapping>
      <TenderType tenderTypeId="5" printerPaymentType="3"/>
      <TenderType tenderTypeId="7" printerPaymentType="3"/>
      <TenderType tenderTypeId="8" printerPaymentType="4"/>
      <!--All cash payments should be mapped to first payment in printer. It's hardcoded in printer for cash operations-->
      <TenderType tenderTypeId="1" printerPaymentType="1"/>
    </TenderTypesMapping>
    <!--Configuring ribbon cutting-->
    <RibbonSettings cutRibbon="true" partialCut="false" feedLinesCount="5"/>
  </PrinterConfiguration>
</configuration>