<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Dynamics.Retail.FiscalPrinter.RussianFiscalPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Dynamics.Retail.FiscalPrinter.RussianFiscalPrinter.Properties.Settings>
            <setting name="TimeoutStep" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimeoutDuration" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SerialConnectionString" serializeAs="String">
                <value>COM1:</value>
            </setting>
            <setting name="SerialConnectionBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="SerialConnectionTimeout" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ZReportFilePath" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="TimeoutBeforeExit" serializeAs="String">
                <value>0</value>
            </setting>
        </Microsoft.Dynamics.Retail.FiscalPrinter.RussianFiscalPrinter.Properties.Settings>
    </applicationSettings>
</configuration>